.game {
    background-image: url(../../imgbord.jpg);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 400px 400px;
    border: 1px solid #fff;
}

.empty {
     background-image: inherit;
     background-color: #fff;
     z-index: 1;
 }