.game-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.game {
    background-image: url(../../imgbord.jpg);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: 400px 400px;
    border: 1px solid #fff;
    transition: .5s;
}

.empty {
     background-image: inherit;
     background-color: #fff;
 }